.sectionContainer {
  padding-top: 25px;
}
.chartContainer {
  width: 65vw;
  height: 60vh;
  margin: auto;
  padding: 0px 15px;
  margin-bottom: 250px;
  position: relative;
}
.headerContainer {
  margin-bottom: 50px;
  font-family: 'Helvetica';
  color: #000;
}
.headerContainer p:first-child {
  font-size: 32px;
  font-weight: bold;
}
.headerContainer p {
  text-align: center;
}
