html{
  font-family: 'Helvetica';
  color: #000;
}
body{
  margin: 0px;
}
.grid {
  display: grid;
  grid-template-columns: 200px 85vw;
}
.menuColumn {
  background: #fafafa;
}
.menuContainer {
  position: sticky;
  left: 0;
  top: 0;
  padding: 50px 0px 0px 10px;
}
.menuItem {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 15px;
}
.menuActive {
  color: #008cff;
}
